body {
    background-image: url("images/backround4.jpg");
    background-size: 120%;
  }
  
  @import url(https://fonts.googleapis.com/css?family=Kreon:400);
  
  .home {
    text-decoration: none;
    color: rgba(112, 18, 194, 0.8);
  }
  .home:hover,
  .home:active {
    text-decoration: none;
    color: rgba(122, 29, 209, 0.5);
  }
  #left_menu {
    background-color: rgba(94, 95, 97, 0.9);
  }
  .left_link {
    font-family: "Kreon", serif;
    color: rgb(117, 23, 141);
    text-decoration: none;
  }
  .left_link:hover,
  .left_link:active {
    font-family: "Kreon", serif;
    color: rgba(21, 21, 22, 0.3);
    text-decoration: none;
  }
  #game_header_link {
    text-decoration: none;
    color: rgba(61, 11, 105, 0.8);
    position: relative;
  }
  #game_header_link:hover {
    text-decoration: none;
    color: rgba(122, 29, 209, 0.5);
  }
  .title {
    height: 100px;
    background-color: rgba(41, 42, 43, 0.3);
    border-radius: 5px;
  }
  .title_details {
    height: 100px;
    background-color: rgba(41, 42, 43, 0.3);
    border-radius: 5px;
    color: rgba(61, 11, 105, 0.8);
  }
  #center_text {
    /* background-color: rgba(131, 135, 141, 0.3); */
  }
  .game_text {
    font-family: "Kreon", serif;
    color: black;
  }
  /* #over img{
      margin-left: auto;
      margin-right: auto;
      display: block;
  }
  #over img:hover{
      margin-left: auto;
      margin-right: auto;
      display: block;
      opacity: 0.7;
      size: 120%;
  } */
  .imagePoster {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 15%;
  }
  .imagePoster:hover {
    margin-left: auto;
    margin-right: auto;
    display: block;
    opacity: 0.7;
    transform: scale(1.1, 1.1);
  }
  .middle {
  }
  .game_card {
    /* border-style: solid;
    border-color: black; */
    background-color: rgba(94, 95, 97, 0.9);
    border-radius: 5px;
    width: 500px;
    height: 550px;
  }
  .game_card_bottom {
    background-color: rgba(41, 42, 43, 0.3);
  }
  .row_ {
  }
  .details_left {
    background-color: rgba(28, 28, 29, 0.3);
  }
  
  .search_gamecard {
    display: flex;
    height: 450px;
    margin: 77px;
    margin-left: 135px;
    width: 500px;
  }
  #test {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-content: space-between;
  }
  .loader {
    margin: 300;
  }
  
  .details_images {
    display: flex;
    margin: 80px;
    margin-left: 149px;
    flex-flow: row;
    flex-wrap: wrap;
    align-content: space-between;
  }
  .image_card {
    width: 200px;
    height: 200px;
  }
  